In [8]:
import os
import pandas as pd

In [5]:
path = 'data'

files = []
# r=root, d=directories, f = files
for r, d, f in os.walk(path):
    for file in f:
        if '.txt' in file:
            files.append(os.path.join(r, file))

files[:5]

['data/Kyoto2016/2015/01/20150122.txt',
 'data/Kyoto2016/2015/01/20150131.txt',
 'data/Kyoto2016/2015/01/20150130.txt',
 'data/Kyoto2016/2015/01/20150113.txt',
 'data/Kyoto2016/2015/01/20150110.txt']

In [6]:
with open(files[0], 'r') as fd:
    data = fd.readlines()

In [7]:
data[0]

'0.000000\tother\t0\t0\t0\t0.00\t0.00\t0.00\t47\t49\t0.02\t0.91\t0.88\tS0\t0\t0\t0\t-1\tfd95:ec1e:6a61:d514:1718:0873:13b3:5985\t3866\tfd95:ec1e:6a61:05d3:7dd2:270d:61ec:03f4\t445\t00:00:00\ttcp\n'

In [ ]:
columns = """
Duration
Service
Source bytes
Destination bytes
Count
Same srv rate
Serror rate
Srv serror rate
Dst host count
Dst host srv count
Dst host same src port rate
Dst host serror rate
Dst host srv serror rate
Flag
IDS detection
Malware detection
Ashula detection
Label
Source IP Address
Source Port Number
Destination IP Address
Destination Port Number
Start Time
Duration
"""

In [12]:
df = pd.read_csv(files[0],sep='\t',header=None)

In [13]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0.000000,other,0,0,0,0.0,0.0,0.0,47,49,...,0,0,0,-1,fd95:ec1e:6a61:d514:1718:0873:13b3:5985,3866,fd95:ec1e:6a61:05d3:7dd2:270d:61ec:03f4,445,00:00:00,tcp
1,0.000000,other,0,0,0,0.0,0.0,1.0,0,0,...,0,0,0,-1,fd95:ec1e:6a61:82f3:0097:0533:2862:4375,36415,fd95:ec1e:6a61:2d78:7dbb:27bd:6058:2b1e,8834,00:00:00,tcp
2,2.495048,other,0,0,1,1.0,1.0,1.0,47,49,...,0,0,0,-1,fd95:ec1e:6a61:d514:1718:0873:13b3:5985,3871,fd95:ec1e:6a61:05d3:7dd2:270d:61ec:03f4,445,00:00:01,tcp
3,29.124205,other,40,0,0,0.0,0.0,1.0,0,0,...,0,0,0,-1,fd95:ec1e:6a61:0f47:49fe:1e5f:158f:0924,42741,fd95:ec1e:6a61:9ab2:7d1b:2755:60c1:1b4e,34666,00:00:02,udp
4,0.000000,other,0,0,0,0.0,0.0,1.0,0,0,...,0,0,0,-1,fd95:ec1e:6a61:4f86:0b7a:5f2c:1f6e:7d90,46348,fd95:ec1e:6a61:f3af:7d20:2751:60cf:3d8e,6379,00:00:04,tcp

In [32]:
df.columns = columns

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 633250 entries, 0 to 633249
Data columns (total 24 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Duration                     633250 non-null  float64
 1   Service                      633250 non-null  object
 2   Source bytes                 633250 non-null  int64
 3   Destination bytes            633250 non-null  int64
 4   Count                        633250 non-null  int64
 5   Same srv rate                633250 non-null  float64
 6   Serror rate                  633250 non-null  float64
 7   Srv serror rate              633250 non-null  float64
 8   Dst host count               633250 non-null  int64
 9   Dst host srv count           633250 non-null  int64
 10  Dst host same src port rate  633250 non-null  float64
 11  Dst host serror rate         633250 non-null  float64
 12  Dst host srv serror rate     633250 non-null  float64
 13  Flag                         633250 non-null  object
 14  IDS detection                633250 non-null  object
 15  Malware detection            633250 non-null  object
 16  Ashula detection             633250 non-null  object
 17  Label                        633250 non-null  int64
 18  Source IP Address            633250 non-null  object
 19  Source Port Number           633250 non-null  int64
 20  Destination IP Address       633250 non-null  object
 21  Destination Port Number      633250 non-null  int64
 22  Start Time                   633250 non-null  object
 23  Duration1                    633250 non-null  object
dtypes: float64(7), int64(8), object(9)
memory usage: 116.0+ MB

In [42]:
df['Duration1'].unique()

array(['tcp', 'udp', 'icmp'], dtype=object)